// COLORS
$primary-color: #c31432;
$secondary-color: #240b36;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #eaafc8;

$dark-grey: #eaafc8;

$dark-blue-text: #480048; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
